.header {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  &_container {
    position: relative;
    display: flex;
    align-items: center;
    width: var(--desktop-regular-fhd);
    margin: auto;
    .header_content {
      position: relative;
      width: 60%;
      p {
        position: relative;
        color: var(--Gray);
        width: 80%;
      }
      a {
        display: inline-block;
        background: var(--Cyan);
        color: white;
        text-decoration: none;
        margin-top: 40px;
        border-radius: 35px;
        padding: 15px 40px;
        font-weight: 700;
        font-size: 18px;
        transition: background 300ms ease-in-out;
      }
      a:hover {
        background: var(--LightCyan);
      }
    }
    .header_image {
      position: relative;
      width: 40%;
      img {
        position: relative;
      }
    }
    @media (max-width: 1200px) {
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
      width: 90%;
      .header_content {
        width: 100%;
        h1 {
          font-size: 4rem;
          line-height: 80px;
        }
        p {
          width: 100%;
        }
        a {
          font-size: 1.2rem;
        }
      }
      .header_image {
        position: relative;
        width: 100%;
        margin-bottom: 40px;
      }
    }
  }
}
