.nav {
  position: relative;
  width: 100%;
  &_container {
    position: relative;
    padding: 50px 0;
    margin: auto;
    display: flex;
    align-items: center;
    width: var(--desktop-regular-fhd);
  }
  img {
    margin-right: 30px;
  }
  &_links {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &_linkContainer {
    position: relative;
    display: flex;

    li a {
      display: block;
      padding: 10px 15px;
      color: var(--Gray);
      text-decoration: none;
      font-weight: 600;
      transition: color 300ms ease-in-out;
      &:hover {
        color: #222;
      }
    }
    .special {
      background: var(--Cyan);
      color: white;
      border-radius: 35px;
      margin-left: 20px;
      transition: background 300ms ease-in-out;
      a {
        color: white;
        text-decoration: none;
      }
      &:hover {
        background: var(--LightCyan);
      }
      &:hover a {
        color: white;
      }
    }
  }
  @media (max-width: 1200px) {
    display: none;
  }
}
